/* Contenedor general */
.dashboard-container {
  font-family: 'Canva Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #6998ff;
  color: #fff;
}

/* Fila fija superior */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border-bottom: 2px solid #333;
}

.dashboard-logo {
  width: 350px;
}

/* Contenido principal */
.dashboard-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Barra lateral (botones) */
.dashboard-sidebar {
  flex: 0.3; /* 30% del ancho */
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sidebar-button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-button.active {
  background-color: #fff;
  color: #333;
}

/* Tarjetas */
.dashboard-content {
  flex: 1; /* 70% del ancho */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.website-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 15px;
  border-radius: 10px;
}

.website-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.website-info p {
  margin: 0;
}

.website-action {
  cursor: pointer;
}

.website-action i {
  font-size: 20px;
  color: #fff;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaciado entre los botones */
}

.add-card-button,
.logout-button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #000; /* Borde negro */
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.add-card-button:hover,
.logout-button:hover {
  background-color: #f0f0f0; /* Fondo al pasar el cursor */
}

.sidebar-button {
  font-size: 18px;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-button:hover {
  background-color: #f0f0f0; 
}

.sidebar-button.active {
  background-color: #dcdcdc; 
}

.copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #f0f0f0;
}

.website-info a {
  color: white; 
  font-weight: bold; 
  text-decoration: none;
}

.website-info a:hover {
  text-decoration: underline; 
}
