.generator-container {
    font-family: 'Canva Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #6998ff;
    color: #fff;
  }
  
  /* Header */
  .generator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-bottom: 2px solid #333;
  }
  
  .generator-logo {
    width: 350px;
  }
  
  /* Main Content */
  .generator-main {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
 /* Barra lateral (botones) */
.generator-sidebar {
    flex: 0.3; /* 30% del ancho */
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar-button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 20px; /* Ajustado para ser consistente */
    margin-bottom: 10px;
    width: calc(100% - 40px); /* Añade un espacio proporcional en los bordes */
    max-width: 400px; /* Limita el ancho máximo para uniformidad */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

.sidebar-button.active {
    background-color: #fff;
    color: #333;
}


  /* Content */
  .generator-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6998ff;
    padding: 20px;
  }
  
  .password-card {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    text-align: center;
  }
  
  .password-display {
    background-color: #6998ff;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .generate-button {
    background-color: #6998ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .generate-button:hover {
    background-color: #557acc;
  }
